@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --color-eggshell: 230 228 206;
    --color-skandiblue: 0 5 42;
    --color-stoneolive: 55 57 46;
    --color-lightolive: 96 100 80;
    --color-auroragreen: 140 255 138;
    --color-aurorapurple: 136 78 226;
    /* ... */
  }
}

html {
  scroll-behavior: smooth;
}

::selection {
  /* Change highlight background color to black */
  background: #b9ff82;
  /* Change highlight text color to red */
  color: black;
}
